backports.tarfile==1.2.0
dotenv==0.9.9
farasapy==0.1.1
importlib-metadata==8.0.0
ipykernel==6.30.1
jaraco.collections==5.1.0
matplotlib==3.10.6
nltk==3.9.1
pip-chill==1.0.3
pipreqs==0.4.13
sentence-transformers==5.1.1
stanza==1.8.2
tomli==2.0.1
scikit-learn>=1.0.0
scipy>=1.7.0
seaborn>=0.11.0
networkx>=2.6.0
plotly>=5.0.0
numpy>=1.21.0
fastapi>=0.100.0
uvicorn[standard]>=0.20.0
PyPDF2
fastapibackports.tarfile==1.2.0
dotenv==0.9.9
en-core-web-sm==3.8.0
farasapy==0.1.1
fastapi==0.118.2
groq==0.32.0
httptools==0.7.1
importlib-metadata==8.0.0
inflect==7.3.1
ipykernel==6.30.1
jaraco-functools==4.3.0
jaraco.collections==5.1.0
langchain==0.3.27
langdetect==1.0.9
nltk==3.9.1
pip-chill==1.0.3
pipreqs==0.4.13
plotly==6.3.1
pydantic-settings==2.11.0
pypdf2==3.0.1
seaborn==0.13.2
sentence-transformers==5.1.1
spacy==3.8.7
stanza==1.11.0
tomli==2.0.1
uvicorn==0.37.0
uvloop==0.21.0
watchfiles==1.1.0
websockets==15.0.1
